<% if @message %>
  <%= @message %>
<% end %>

<label>Name: </label><%=@user.name%><br>
<label>Mood: </label> <%=@user.mood%><br>
<label>Height: </label><%=@user.height%><br>
<label>Tickets: </label><%=@user.tickets%><br>
<% if @user.admin %>
  <label>ADMIN</label>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'See attractions', attractions_path %>
